.rw-conversation-container .rw-header {
    background-color: #FF4B4B;
}

.rw-conversation-container .rw-client {
    background-color: #FF4B4B !important;
}

.conversation-container close-button {
    background-color: #FF4B4B;
}

.rw-launcher {
    background-color: #FF4B4B;
}